{% extends 'mailing/base.html' %}

{% block content %}
<div class="container my-4">
    <div class="card border-primary mb-3" style="max-width: 540px;">
        <div class="card-header bg-primary text-white">
            Информация о клиенте
        </div>
        <div class="card-body">
            <h5 class="card-title">ФИО: {{ object.name }}</h5>
            <h5 class="card-title">Email: {{ object.email }}</h5>
            <p class="card-text">Комментарий: {{ object.commentary }}</p>
            <a class="btn btn-primary" href="{% url 'mailing:clients' %}" role="button">Назад</a>
        </div>
    </div>
</div>
{% endblock %}