{% extends 'mailing/base.html' %}

{% block content %}
<div class="container my-4">
    <div class="card border-primary mb-3" style="max-width: 540px;">
        <div class="card-header bg-primary text-white">
            Подтверждение удаления клиента
        </div>
        <div class="card-body">
            <h5 class="card-title">Вы хотите удалить клиента "{{ object.name }}"?</h5>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Подтвердить</button>
                <a href="{% url 'mailing:clients' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}