{% extends 'mailing/base.html' %}

{% block content %}
<div class="container my-4">
    <div class="card border-primary mb-3" style="max-width: 540px;">
        <div class="card-header bg-primary text-white">
            Информация о рассылке
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ object.name }}</h5>
            <hr>
            <div class="mb-3">
                <strong>Клиенты:</strong>
                {% for client in object.mail_to.all %}
                    <p class="my-0 fw-normal">{{ client }}</p>
                {% endfor %}
            </div>
            <hr>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Дата начала:</strong> {{ object.start_date }}</li>
                <li class="list-group-item"><strong>Дата окончания:</strong> {{ object.end_date }}</li>
                <li class="list-group-item"><strong>Периодичность:</strong> {{ object.interval }}</li>
                <li class="list-group-item"><strong>Владелец:</strong> {{ object.owner }}</li>
                <li class="list-group-item"><strong>Статус:</strong> {{ object.status }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}