{% extends 'mailing/base.html' %}

{% block content %}
<div class="container my-4">
    <div class="card border-primary mb-3" style="max-width: 540px;">
        <div class="card-header bg-primary text-white">
            Тема сообщения
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ object.topic }}</h5>
            <p class="card-text">Содержание: {{ object.content }}</p>
            <a class="btn btn-primary" href="{% url 'mailing:message' %}" role="button">Назад</a>
        </div>
    </div>
</div>
{% endblock %}